<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
    body{
        display: flex;
        background-color: beige;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
   </style>
</head>
<body>
   
    <div class="container">
    <form method="post" enctype="multipart/form-data">
    <h1>Add Item</h1>
    <label>Item Name</label><br>
    <input type="text" name="Itemname"><br>
    <label>Item Description</label><br>
    <input type="text" name="description"><br>
    <label>Price</label><br>
    <input type="number" name="price"><br>
    <label>Quantity</label><br>
    <input type="number" name="quantity"><br>
    <label>Image</label><br>
    <input type="file" name="image"><br>
    <label>Category</label><br>
    <select name="Category" id="" required>
        <option value="">Select your Category</option>
        <option value="home_appliances">Home Appliance</option>
        <option value="Fashion">Fashion</option>
        <option value="Electronics">Electronic</option>
        <option value="Grocery">Grocery</option><!DOCTYPE html>
        
        
        
    </select>
    <button>Submit</button>
    </form>
    </div>
</body>
</html>