<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>order_id</th>
                <th>Item_id</th>
                <th>Item_name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>User</th>
                <th>Get Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for i in user_orders %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td><a href="#">Get invoice</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>